<section class="banner-section">
    <div class=overlay></div>
    <!-- <div class=container> -->
        <!-- <div class="row justify-content-center">
            <blockbanner class="col-md-7 text-center fadeInUp">
                <h3 class="wow slideInLeft h2 mb-5" data-wow-duration=0.25s data-wow-delay=0.1s>“{{bannerData['banner']}}”
                </h3>
                <h4 class="wow slideInRight h2" data-wow-duration=0.25s data-wow-delay=0.1s><cite
                        title="{{bannerData['author']}}">- {{bannerData['author']}}</cite></h4>
            </blockbanner>
        </div> -->
    <!-- </div> -->
</section>